rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite leitura e gravação para todas as coleções de sincronização do TurismoOS
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
